<form [formGroup]="cardForm" (ngSubmit)="onSubmit()">
  <app-input [control]="cardForm.controls.name" label="name"></app-input>
  <app-input
    [control]="cardForm.controls.cardNumber"
    label="card number"
  ></app-input>
  <app-input
    [control]="cardForm.controls.expiration"
    label="expiration"
  ></app-input>
  <app-input
    [control]="cardForm.controls.securityCode"
    label="security code"
  ></app-input>
  <button class="button is-primary" type="submit" [disabled]="cardForm.invalid">
    Submit
  </button>
  <button class="button is-warning" type="button" (click)="resetForm()">
    Reset
  </button>
</form>

<div>Form Contents: {{ cardForm.value | json }}</div>
<div>Form is valid: {{ cardForm.valid }}</div>
<div>Errors (name): {{ cardForm.controls.name.errors | json }}</div>
